script_*
errlog_*
exelog_*
log_*.txt
log/
vendor/
.bundle/

config/secrets.yml
config/constants.yml
config/start_urls_*.txt

# swap files
*.swp
*.swo
*~
.DS_Store

src/01_extract_data_2.rb
src/02_create_linkmatrix_2.rb
src/03_normalize_matrix.m

src/web_community/sql/*.sql
src/web_community/csv/*.csv
src/web_community/matlab/
src/web_community/calculate_rank_prestige.m
src/web_community/calculaterankprestige.m
src/web_community/rank_prestige.m

data/*

result_maxflow/*
result_matlab/*
result/pagerank*.txt
result/timerankprestige/*
result/timepagerank/*
result/page_ps/*
result/page_ps_score_2/*
result/check_pk/*
result/check_apk/*
!.keep
