# page ID
page: 'page_id'

# date
start_date: 2015-11-13
end_date: 2015-12-03
skip_dates: []
a_date: 2
b_date: 7
n_date: 7
m_date: 8

# flag
matlab: true

# threshold
th_more_incs:
  - 2

# params
reduce_weight: 1.0
tail_of_file: ''
limit_seeds_num: 20
check_flag: '21_above'
limit_down_rate: 90.0
limit_desc_rate: 70.0
